{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale=1>

        <title>CourseIT Academy</title>
        <link rel="stylesheet" href=" {% static "css/styles-base.css" %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    </head>
    <body>
        <section>
            <input type="checkbox" id="check">
            <header>
                <nav class="navbar">
                    <div class="navdiv">
                        <div class="logo"><a href="{% url 'index' %}">CourseIT</a></div>

                        <div class="navigation">
                            <ul>
                                <li><a href="{% url 'index' %}">Home</a></li>
                            </ul>
                            <ul>
                                <li><a href="{% url 'courses' %}">Courses</a></li>
                            </ul>
                            <ul>
                                <li><a href="{% url 'about' %}">About</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Contact</a></li>
                            </ul>
                            <ul>
                                <button class="sign-in"><a href="#">Sign In</a></button>
                            </ul>
                            <ul>
                                <button class="sign-up"><a href="#">Get Started</a></button>
                            </ul>
                        </div>

                        <label for="check">
                            <i class="fas fa-bars menu-btn"></i>
                            <i class="fas fa-times close-btn"></i>
                        </label>
                    </div>
                </nav>
            </header>

            <div class="content">
                <div class="info">
                    <h2>Learn. <span>Code.</span> Grow!</h2>
                    <p class="p" >Welcome to our platform, where the world of Computer Science unfolds at your fingertips!</p>
                    <a id="getStartedBtn" class="get-started-btn" href="">Get Started</a>

                

                    <p class="p1"> Our vast collection of Computer Science materials caters to individuals at every stage of their learning journey. Whether you're just beginning to explore the realm of coding or you're a seasoned developer seeking advanced techniques, we have resources tailored to meet your needs. <br> <br> Dive into a treasure trove of programming languages, algorithms, data structures, and more. Our expertly curated content covers everything from the basics to the cutting-edge advancements in the field. With interactive tutorials, engaging projects, and real-world case studies, you'll embark on a transformative learning experience.</p>
                    {% comment %} <a class="get-started-btn" href="">Get Started</a> {% endcomment %}
                </div>

                <div class="div3">
                    <div class="div4">
                        <img class="img-home" src="{% static 'images/pexels-christina-morillo-1181298.jpg' %}" alt="programming books image">
                    </div>
                    <div class="div4">
                        <h1><u>Welcome To CourseIT</u></h1>
                        <p>Welcome to our platform, where the world of Computer Science unfolds at your fingertips! Our vast collection of Computer Science materials caters to individuals at every stage of their learning journey. Whether you're just beginning to explore the realm of coding or you're a seasoned developer seeking advanced techniques, we have resources tailored to meet your needs.
        
                            Dive into a treasure trove of programming languages, algorithms, data structures, and more. Our expertly curated content covers everything from the basics to the cutting-edge advancements in the field. With interactive tutorials, engaging projects, and real-world case studies, you'll embark on a transformative learning experience.</p>
                    </div>
                </div>

                <div class="div3">
                    <div class="div4">
                        <div class="div4">
                            <h1><u>Software Engineering</u></h1>
                            <p>This module unit is intended to introduce the trainee to Information Communication Technology, equipping him/her with the necessary knowledge, skills, and attitude to enable him/her professional work with different programming languages.

                                Course Module Description
                                
                                This module unit is intended to introduce the trainee to Information Communication
                                
                                Technology, equipping him/her with the necessary knowledge, skills, and attitude
                                
                                to enable him/her professional work with different programming languages.</p>
                        </div>
                    </div>
                    <div class="div4">
                        <img class="img-home" src="{% static 'images/pexels-antoni-shkraba-4348401.jpg' %}" alt="programming books image">
                    </div>
                </div>

                <div class="div3">
                    <div class="div4">
                        <img class="img-home" src="{% static 'images/pexels-christina-morillo-1181359.jpg' %}" alt="programming books image">
                    </div>
                    <div class="div4">
                        <h1><u>Python Programming</u></h1>
                        <p>Python is a high-level programming language designed to be highly readable.

                            Course Module Description
                            
                            Python is a high-level programming language designed to be highly readable. It uses English like statements and keywords to create a software. It is a multipurpose programming language in that it can be used for web development, creating mobile applications, hacking, automation, machine learning and data science.
                            </p>
                    </div>
                </div>

                <div class="contact-info">
                    <h3>Contact Us</h3>
                    <p>Email: globalcourseit@gmail.com</p>
                    <p>Phone: +254-745678905</p>
                </div>

            </div>

            <footer>

                <div class="media-icons">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
    
                </div>

                <div class="footer-content">
    
                    <div class="divf">
                        <nav>
                            <a href="index.html">Home<span></span></a>
                            <a href="courses.html">Courses<span></span></a>
                            <a href="about.html">About<span></span></a>
                            <a href="contacts.html">Contacts<span></span></a>
                        </nav>
                    </div>
    
                    <div class="copyright-info">
                        <p>&copy; 2024 CourseIT. All rights reserved.</p>
                    </div>
                </div>
            </footer>
        </section>

        <script>
            const getStartedBtn = document.getElementById('getStartedBtn');
        
            function flickerButton() {
                getStartedBtn.classList.toggle('flicker');
            }
        
            setInterval(flickerButton, 3000); // Change appearance every 3 seconds
        </script>

    </body>
</html>