{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CourseIT Academy</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
    <body>
        <div class="nav-bar">
            <div class="header">
                <div class="div1">
                    <h2><a style="text-decoration: none;"href="{% url 'dashboard' %}">Dashboard</a></h2>
                </div>
                <div>
                    <nav>
                        {% comment %} <a href="">Hi, {{request.user}} <span></span></a> {% endcomment %}
                        <a href="{% url 'sign-out' %}">Logout<span></span></a>
                    </nav>
                </div>
            </div>
        </div>

        

        <div class="content-div">
            <div class="side-bar">
                <div>
                    <a href="">
                    <div class="side-bar-divs">
                        <h1>My Learning</h1>
                    </div></a>
                    <a href="">
                    <div class="side-bar-divs">
                        <h1>My Progress</h1>
                    </div></a>
                    <a href="">
                    <div class="side-bar-divs">
                        <h1>Timetable</h1>
                    </div></a>
                    <a href="">
                    <div class="side-bar-divs">
                        <h1>Community</h1>
                    </div></a>
                </div>
            </div>
            <div class="cos-detail">
                <div class="content">


                    {% comment %} <div class="post-entry">
                        <h2>{{ course.title }}</h2>
                        <p>{{ course.description }}</p>
                    </div> {% endcomment %}
        
                    <div class="post-entry">
                        <div>
                            <img src="{{ course.image.url }}" width="100%">
                        </div>
                        <div class="course-title">
                            <h2 class="post-title" ><a style="text-decoration: none;" href="{% url 'course_detail' course.pk %}">{{ course.title }}</a></h2>
                        </div>
                        <div class="course-desc">
                            <p>{{ course.description }}</p>
                        </div>
                        <div class="view-cos">
                            <a class="get-started-btn" href="{% url 'course_detail' course.pk %}">Start Course</a>
                        </div>
                    </div>
        
                </div>
            </div>
            <div class="more-info">

                <div>
                    <img src="{{ course.image.url }}" width="100%">
                </div>

                <div>
                    <div class="more-info-divs">
                        <h1>Weeks</h1>
                        <h1>8</h1>
                    </div>
                    <div class="more-info-divs">
                        <h1>Language</h1>
                        <h1>English</h1>
                    </div>
                    <div class="more-info-divs">
                        <h1>Skill Level</h1>
                        <h1>Beginner</h1>
                    </div>
                    <div class="more-info-divs">
                        <h1>Certificate</h1>
                        <h1>Yes</h1>
                    </div>
                </div>
            </div>
        </div>
        
        <footer>
            <div>
                <p>Join our community today and embark on a journey of learning, growth, and endless possibilities. Together, we'll shape the future of technology and empower each other to reach new heights.</p>
            </div>

            <div class="footer-nav">
                <div>
                    <nav>
                        <a href="index.html">Home<span></span></a>
                        <a href="courses.html">Courses<span></span></a>
                        <a href="about.html">About<span></span></a>
                        <a href="contacts.html">Contacts<span></span></a>
                    </nav>
                </div>

                <div class="media-icons">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                </div>

                <div class="copyright-info">
                    <p>&copy; 2024 CourseIT. All rights reserved.</p>
                </div>

            </div>
        </footer>
    </body>
</html>